/****
COLORS:
https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578
*/

[data-theme='holidays'] {
    --color-primary: #bf4342;
    --color-accent: #E29578;
    --color-blue: #669bbc;
    --color-white: #EDF6F9;
    --color-green: #2c6e49;
    --color-pink: #ffddd2;
    --color-orange: #ff9b42;
}

body {
    background: var(--color-pink);
}


/********* HERO **********/
/********* HERO **********/
/********* HERO **********/

.hero-title {
    color: var(--color-primary);
    text-shadow: 2px 2px 10px rgba(14, 94, 14, 0.463);
}
.hero-support {
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 3px black;
}

.hero-mesh {
    background: url("https://assets.editorial.aetnd.com/uploads/2019/12/american-christmas-traditions-gettyimages-487756624.jpg?width=2048&quality=75");
    background-position: center;
    background-size: cover;
}

/********* NAVBAR **********/
/********* NAVBAR **********/
/********* NAVBAR **********/
.site-nav-brand {
    color: var(--color-primary);
    .is-nav-ready .site-nav.is-stuck {
    background: color-mix(in oklab, var(--color-base-100) 88%, transparent);
    backdrop-filter: blur(10px);
}
}

